* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #e12f2f;
    --vermelhinho: #da6f6f;
    --azul: #acd2e1;
    --azulzinho: #e0e6f5;
}

body {
    background-color: var(--azulzinho);
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 65% 25%;
    background-color: var(--vermelho);
    padding: 25px;
    align-items: center;
}