* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #e12f2f;
    --vermelhinho: #da6f6f;
    --azul: #acd2e1;
    --azulzinho: #e0e6f5;
}

header {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 90%;
    background-color: var(--vermelho);
    padding: 25px;
    position: relative;
    align-items: center;
    justify-content: center;
}

header img {
    width: 70%;
    margin: 10px;
    border-radius: 50px;
}

.titulocabecalho h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
}

body {
    background-color: var(--azulzinho);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px;
    justify-items: center;
}